<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <roles>Org.Nized for MSU AITP</roles>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <!-- Custom styles for this site -->
    <link href="/css/navbar-static-top.css" rel="stylesheet"/>
    <link href="/css/custom-styles.css" rel="stylesheet"/>
</head>
<body>
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="home">Org.nized</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/attendance">Attendance</a></li>
                <li class="active"><a href="/notes">Notes</a></li>
                <li><a href="/surveys">Surveys</a></li>
                <li><a href="/profile">My Profile</a></li>
                <li><a href="/announcements">Announcements</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Reports
                        (Officer Only) <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/people">People</a></li>
                        <li><a href="/classbonus">Class Bonus</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Advisor/Admin Only</li>
                        <li><a href="/admin">Admin Page</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="login">Login</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<!-- Main Container -->
<div class="container">
    <h1>Surveys</h1>
    <!-- Announcements Container -->
    <div class="container">
        <h2>Create New Question</h2>

        <p>Please note that your changes will not be committed until you click Save!</p>

        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-roles">The Relevant Details</h3>
                    </div>
                    <div class="panel-body">
                        <form action="save" method="post" id="question-form" th:object="${question}">
                            <input type="hidden" th:field="*{survey_id}"/>

                            <div>
                                <label for="question_text"
                                       th:class="${#fields.hasErrors('question_text')}? fieldError">Question Text:
                                </label>
                                <input type="text" th:field="*{question_text}"
                                       th:class="${#fields.hasErrors('question_text')}? fieldError"/>
                                <ul>
                                    <li th:each="err : ${#fields.errors('question_text')}" th:text="${err}"
                                        class="fieldError"></li>
                                </ul>
                            </div>
                            <div>
                                <label for="type"
                                       th:class="${#fields.hasErrors('type')}? fieldError">Type of Response:
                                </label>
                                <!-- FIX THIS INPUT -->
                                <select th:field="*{type}">
                                    <option value="TEXT">Text</option>
                                    <option value="CHECKBOX">Checkbox</option>
                                    <option value="RADIO">Radio Buttons</option>
                                </select>
                                <ul>
                                    <li th:each="err : ${#fields.errors('type')}" th:text="${err}"
                                        class="fieldError"></li>
                                </ul>
                            </div>
                            <!--<div>
                                <label for="roles" th:class="${#fields.hasErrors('roles')}? fieldError">Visibility:
                                    <input type="text" th:field="*{roles}"
                                           th:class="${#fields.hasErrors('roles')}? fieldError"/>
                                </label>
                                <ul>
                                    <li th:each="err : ${#fields.errors('roles')}" th:text="${err}" class="fieldError"/>
                                </ul>
                            </div>-->
                            <input type="submit" value="Submit"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted">Dev Feedback and stuff.</p>
    </div>
</footer>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("includedHeader").load("header");
    })
</script>
</body>
</html>
