<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Org.Nized for MSU AITP</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <!-- Custom styles for this site -->
    <link href="/css/navbar-static-top.css" rel="stylesheet"/>
    <link href="/css/custom-styles.css" rel="stylesheet"/>
</head>
<body>
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="home">Org.nized</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/attendance">Attendance</a></li>
                <li><a href="/notes">Notes</a></li>
                <li class="active"><a href="/surveys">Surveys</a></li>

                <li><a href="/announcements">Announcements</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Reports
                        (Officer Only) <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/people">People</a></li>
                        <li><a href="/classbonus">Class Bonus</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Advisor/Admin Only</li>
                        <li><a href="/admin">Admin Page</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="login">Login</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<!-- Main Container -->
<div class="container">
    <h1>Surveys</h1>
    <!-- Announcements Container -->
    <div class="container">
        <h2>View Responses</h2>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">The Relevant Details</h3>
                    </div>
                    <div class="panel-body">
                        <p>Name of Survey: <span th:text="${survey.name}"></span></p>

                        <p>Open to Non-Members?: <span th:text="${survey.openToNonMembers}"></span></p>

                        <p>Start Date: <span th:text="${survey.start_date}"></span></p>

                        <p>End Date: <span th:text="${survey.end_date}"></span></p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Responses</h3>
                    </div>
                    <div class="panel-body">

                        <div th:each="q : ${survey.questions}" th:with="someVariable='TEXT'">
                            <span th:text="${q.question_text}"></span>
                            <br/>
                            <ul th:each="a : ${q.possible_answers}">
                                <li>
                                    <b><span th:text="*{a.text}"></span></b>: <span th:text="*{a.count}"></span>
                                </li>
                            </ul>
                            <div th:if="${q.type == someVariable}">
                                <ul th:each="ans : ${q.answers}">
                                    <li th:text="*{ans.text}"></li>
                                </ul>
                            </div>
                            <!--Accessible by:
                            <div th:each="r: ${q.roles}">
                                <span th:text="${r.role_id}"></span><br />
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted">Dev Feedback and stuff.</p>
    </div>
</footer>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="/js/surveys.js"></script>
<script type="text/javascript">
    $(function () {
        $("includedHeader").load("header");
    })
</script>
</body>
</html>